*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

nav{
    width: 100%;
    background-color: black;
}

nav div{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

nav div .nav_ul{
    display: flex;
}

.logo{
   padding-top: 20px;
   padding-bottom: 20px;
}
.logo_a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo_a .main_color{
    font-weight: 900;
    color: #24ba96;
}

.menu{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu_a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-left: 30px;
    border: 1px solid transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu_a:hover{
    color: #24ba96;
}

/*----------------------------------------------DROPDOWN*/

.column {
    margin-top: 30px;
    position: relative;
    display: none;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: black;
}
.column li{
    list-style: none;
    padding: 10px;
}

.column li a{
    color: white;
    text-decoration: none;
}

li:hover .column {
    position: absolute;
    display: block;
}

.column:before {
    top: calc(0% - 10px);
    left: calc(50% - 14px);
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-bottom: 10px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}


/*------------------------------------------------------*/

.container{
    width: 1000px;
    margin: 0 auto;
}

.slider{
    width: 100%;
    border: 1px solid transparent;
    background-image: linear-gradient( white, white, #b6b6b6);
}
.slider .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider ul li{
    list-style: none;
}

.arrow{
    display: flex;
}

.arrow a{ /*strzałka w lewo i prawo*/
    font-size: 90px;
    color: #24ba96;
    text-decoration: none;
    border: 1px solid transparent;
    width: 100px;
    height: 400px;
    display: block;
    align-content: center;
    padding-top: 100px;
    font-weight: lighter;
}

#arrow_bottom{
    text-align: right;
}


.slider-image{ /*krzesło obrazek*/
    background-image: url("../images/black_chair.png");
    background-size: cover;
    background-repeat: no-repeat;
   width: 400px;
    height: 305px;
}

.slider-text{ /*wszystko co jest w tekscie na slajderze*/
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.slider-text .main_color{
    font-weight: 900;
    color: #24ba96;
}

.slider-text li{
    margin: 15px;

}
.slider-text li:first-child{ /*SIT ON OUR CHAIR*/
    font-size: 30px;
}

.slider-text p {
    text-align: center;
    word-spacing: 5px;
    font-size: 15px;
    margin-bottom: 15px;
}

.slider-text .button{
    background-color: #24ba96;
    width: 275px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 23px;
    border: none;
    text-decoration: none;
    font-weight: 500;

}

.section1{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;

}

.section1-box1{
    background-image: url("../images/box1_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
    margin-right: 15px;
}

.section1-box2{
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
    margin-right: 15px;
}

.section1-box3{
    border: 1px solid #c1bfea;
    width: 350px;
    height: 250px;
    position: relative;
}

.section1-box3 p{
    padding: 10px;
}

.section1-tittle{
    font-weight: bold;

}
.section1-tittle:after{
    content: "";
    border: 3px solid #24ba96;
    position: absolute;
    width: 150px;
    bottom: 35px;
    left: 10px;
}
.section1-box3 .section1-tittle:after{
    content: "";
    border: 3px solid #24ba96;
    position: absolute;
    width: 150px;
    bottom: 210px;
}

.section1-opacity{
    border: 1px solid  rgba(255, 255, 255, 0.3);
    background-color:  rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 30px;
    padding: 10px;
}


.section2{
    background-color: #EBEBEB;
    padding-bottom: 40px;
}

.section2 .container{
display: flex;
justify-content: space-between;
}

#pricelist{
font-size: 20px;
padding-top: 40px;
position: relative;
padding-bottom: 60px;
}

#pricelist:after{
content: "";
border: 4px solid #24ba96;
position: absolute;
width: 250px;
top: 70px;
}

.priceBox{
    position: relative;
    border: 1px solid #BFBFBF;
    width: 300px;
    height: 500px;
    padding-top: 50px;
    background-color: #F9F9F9;
}


.hole{
position: absolute;
border: 1px solid #BFBFBF;
border-radius: 50%;
width: 40px;
height: 40px;
background-color: white;
bottom: calc(100% - 20px);
left: calc(50% - 20px);
}

.miniHole{
position: absolute;
border: 4px solid #BFBFBF;
border-radius: 50%;
width: 20px;
height: 20px;
background-color: #BFBFBF;
right: calc(50% - 10px);
bottom: calc(50% - 10px);
}


.priceBoxMiddle{
    position: relative;
    border: 1px solid #BFBFBF;
    width: 300px;
    height: 500px;
    padding-top: 50px;
    background-color: #24ba96;
}

.holeMiddle{
    position: absolute;
    border: 1px solid #24ba96;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #24ba96;
    bottom: calc(100% - 20px);
    left: calc(50% - 20px);
}

.miniHoleMiddle{
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    right: calc(50% - 10px);
    bottom: calc(50% - 10px);
}

.plan{
    font-size: 20px;
    color: #24ba96;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}

.planMiddle{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}

.decoration{
    border: 2px solid #BFBFBF;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    left: calc(50% - 55px);
    position: relative;
    color: #BFBFBF;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
}

.price{
    font-weight: 700;
    font-size: 40px;
}
sup{
    font-size: 15px;
}

.decorationMiddle{
    border: 1px solid #24ba96;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    left: calc(50% - 55px);
    position: relative;
    background-color: white;
    color: #24ba96;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
}

.ofert{
    list-style: none;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 600;
    margin: 1px;
}

.item1{
    background-color: #E4E4E4;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999999;
}
.item2{
    background-color: #F1F1F1;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #959595;
}

.ofertMiddle{
    list-style: none;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 600;
    margin: 1px;
}

.item1_2{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999999;
}

.join{
    background-color: #24ba96;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
}

.joinMiddle{
    color: #24ba96;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
}

.section3{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#contact{
    font-size: 20px;
    padding-top: 40px;
    position: relative;
}

#contact:after{
    content: "";
    border: 4px solid #24ba96;
    position: absolute;
    width: 250px;
    top: 70px;
    left: 0;
}

form{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

form input, textarea{
    border: 1px solid #24ba96;
    margin-bottom: 9px;
    width: 600px;
    height: 60px;
    color: #CACACA;
    font-size: 25px;
    font-weight: 300;
}

textarea{
    resize: none;
    height: 130px;
}

::-webkit-input-placeholder {
    color: #CDCDCD;
    font-size: 30px;
    font-family: Raleway-Light, sans-serif;
}

::-moz-placeholder {
    color: #CDCDCD;
    font-size: 25px;
    font-family: Raleway-Light, sans-serif;
}

::-ms-input-placeholder {
    color: #CDCDCD;
    font-size: 30px;
    font-family: Raleway-Light, sans-serif;
}

.elements{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.background_image{
    background-image: url("../images/red_chair.png");
    background-size: cover;
    width: 264px;
    height: 210px;
}

.section3 button{
    background-color: #24ba96;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}

footer{
    display: flex;
    margin: 30px;
    justify-content: space-around;
}

footer p:first-child{
    color: #B4B4B4;
    padding-top: 10px;
}

footer div{
    display: flex;
    padding-bottom: 20px;
}

footer div p{
    margin-left: 50px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #B4B4B4;
}

footer div p span{
    font-weight: 800;
}

.section3 label{
    max-width: 370px;
    padding: 20px;
    display: flex;
    margin-left: 15px;
    position: relative;
}

.section3 label input{ /*CHECKBOX*/
    border: 1px solid #24ba96;
    width: 50px;
    height: 43px;
    color: #b6b6b6;
    opacity: 0;
    cursor: pointer;
    position:absolute;
}

.ok{
    position: absolute;
    display: none;
    cursor: pointer;
}

.click{      /*CHECKBOX STYLE*/
    border: 1px solid #24ba96;
    position: absolute;
    width: 50px;
    height: 43px;
}

#mycheckbox:checked ~ .ok{
    display: block;
}

.section3 label p{
    margin-left: 60px;
    color: #C4C4C4;
    font-size: 16px;
}

.image1{
    background-image: url("../images/flickr.png");
    width: 35px;
    height: 35px;
}

.image2{
    background-image: url("../images/vimeo.png");
    width: 35px;
    height: 35px;
}

.image3{
    background-image: url("../images/pinterest.png");
    width: 35px;
    height: 35px;
}

.image3{
    background-image: url("../images/twitter.png");
    width: 35px;
    height: 35px;
}