*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

nav{
    width: 100%;
    background-color: black;
}

nav div{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
nav div ul{
    display: flex;
}

nav div ul li{
   padding-top: 20px;
   padding-bottom: 20px;
}
.nav_logo{

    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.nav_logo .main_color{
    font-weight: 900;
    color: #24ba96;
}
.nav-li_main{
    list-style: none;
}
.nav_main{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-left: 30px;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.slider{
    width: 100%;
    border: 1px solid transparent;
    background-image: linear-gradient( white, white, #b6b6b6);
}
.slider .container{
    display: flex;
    align-items: center;
    justify-content: center;
/*    margin-left: 205px;
    margin-right: ;*/
}
#row1{
/*    margin-left: 70px;*/
}

.slider .container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider ul li{
    list-style: none;
}

.row{
    display: flex;
}

.row a{ /*strzałka w lewo i prawo*/
    font-size: 90px;
    color: #24ba96;
    text-decoration: none;
    border: 1px solid transparent;
    width: 100px;
    height: 400px;
    display: block;
    align-content: center;
    padding-top: 100px;
    font-weight: lighter;
}

#row_bottom{
    text-align: right;
}


.slider-image{ /*krzesło obrazek*/
    background-image: url("../images/black_chair.png");
    background-size: cover;
    background-repeat: no-repeat;
   width: 400px;
    height: 305px;
/*    padding: 200px;*/
}

.slider-text{ /*wszystko co jest w tekscie na slajderze*/
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.slider-text .main_color{
    font-weight: 900;
    color: #24ba96;
}

.slider-text li{
    margin: 20px;
}
.slider-text li:first-child{ /*SIT ON OUR CHAIR*/
    font-size: 30px;
}

.slider-text p {
    text-align: center;
    word-spacing: 5px;
}

.slider-text button{
    background-color: #24ba96;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}

.section1{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;

}

.section1-box1{
    background-image: url("../images/box1_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
    margin-right: 15px;
}

.section1-box2{
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    position: relative;
    margin-right: 15px;
}

.section1-box3{
    border: 1px solid #c1bfea;
    width: 350px;
    height: 250px;
    position: relative;
}

.section1-box3 p{
    padding: 10px;
}

.section1-tittle{
    font-weight: bold;

}
.section1-tittle:after{
    content: "";
    border: 3px solid #24ba96;
    position: absolute;
    width: 150px;
    bottom: 35px;
    left: 10px;
}
.section1-box3 .section1-tittle:after{
    content: "";
    border: 3px solid #24ba96;
    position: absolute;
    width: 150px;
    bottom: 210px;
}

.section1-opacity{
    border: 1px solid  rgba(255, 255, 255, 0.3);
    background-color:  rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 30px;
    padding: 10px;
}